<div class="container">
  <header>
    <div class="title">QUESTION NUMBER</div>
  </header>
  <main>

    <div *ngIf="firstA" class="questionBlock">
      <img class="windows" src="assets/images/windows.png">
    </div>

    <div *ngIf="secondA" class="questionBlockB">
      <div class="variantsB">
        <div class="radA wrapper"><input id="radioA" class="rad" type="radio" name="radio"><img class="logoImg"
            src="assets/images/windows.png"></div>
        <div class="radB wrapper"><input id="radioB" class="rad" type="radio" name="radio"><img class="logoImg"
            src="assets/images/apple.png"></div>
        <div class="radC wrapper"><input id="radioC" class="rad" type="radio" name="radio"><img class="logoImg"
            src="assets/images/amazon.png"></div>
        <div class="radD wrapper"><input id="radioD" class="rad" type="radio" name="radio"><img class="logoImg"
            src="assets/images/facebook.png"></div>
      </div>
    </div>

    <div *ngIf="thirdA" class="questionBlock">
      <video controls>
        <source src="assets/images/AppleVideo.mp4" type="video/mp4">
      </video>
    </div>

    <div class="answerBlock">
      <div class="progressBlock">
        <div class="progressBar progressA"></div>
        <div class="progressBar progressB"></div>
        <div class="progressBar progressC"></div>
      </div>
      <div class="blockB" *ngIf="firstB">
        <div class="answerInfo">
          <div class="questionNum">
            <p>1/3 Question 1</p>
          </div>
          <div class="questionTxt">
            <p>Who founded Microsoft Corporation</p>
          </div>
          <div class="variants">
            <p>Answers:</p>
            <div class="radA"><input id="radioA" class="rad" type="radio" name="radio">Bill Gates</div>
            <div class="radB"><input id="radioB" class="rad" type="radio" name="radio">Steve Jobs</div>
            <div class="radC"><input id="radioC" class="rad" type="radio" name="radio">Mark Zuckerberg</div>
          </div>
        </div>

        <div class="btnGroup">
          <button type="button" id="submit" (click)="SubmitQuestion()">Submit</button>
          <button type="button" id="next" (click)="NextQuestion()">Next</button>
        </div>
      </div>

      <div class="blockB" *ngIf="secondB">
        <div class="answerInfo">
          <div class="questionNum">
            <p>1/3 Question 2</p>
          </div>
          <div class="questionTxt">
            <p>Which company was founded by Mark Zuckerberg?</p>
          </div>
        </div>

        <div class="btnGroup">
          <button type="button" id="submit" (click)="SubmitQuestionTwo()">Submit</button>
          <button type="button" id="next" (click)="NextQuestionTwo()">Next</button>
        </div>
      </div>

      <div class="blockB" *ngIf="thirdB">
        <div class="answerInfo">
          <div class="questionNum">
            <p>1/3 Question 3</p>
          </div>
          <div class="questionTxt">
            <p>Which company is mentioned in the video?</p>
          </div>
          <div class="variants">
            <p>Answers:</p>
            <div class="radA"><input id="radioA" class="rad" type="radio" name="radio">Microsoft</div>
            <div class="radB"><input id="radioB" class="rad" type="radio" name="radio">Apple</div>
            <div class="radC"><input id="radioC" class="rad" type="radio" name="radio">Amazon</div>
          </div>
        </div>

        <div class="btnGroup">
          <button type="button" id="submit" (click)="SubmitQuestionThree()">Submit</button>
          <button type="button" id="next" >Next</button>
        </div>
      </div>


    </div>


  </main>
</div>
